<app-navbar></app-navbar>
<div class="container">
    <app-board></app-board>
</div>
<app-board></app-board>

<div>
  <div class="column">
<!--
      <mat-card id="players">
          <div>
              <img src="../../../assets/images/user.png" alt="">
              <strong >{{player1.name}}</strong>
              <mat-chip-list  [hidden]='!player1.turn'>
                    <mat-chip color="warn" selected="true">your turn </mat-chip>
              </mat-chip-list>
              <p>{{player1.current}}</p>
          </div>
          <h1>Vs</h1>
          <div>
                <img src="../../../assets/images/user.png" alt="">
                <strong>{{player2.name}}</strong>
                <mat-chip-list [hidden]='!player2.turn'>
                    <mat-chip  color="warn" selected="true" >your turn </mat-chip>
                </mat-chip-list>
              <p>{{player2.current}}</p>
          </div>
        </mat-card><br>
    <app-dice></app-dice>
        -->

  </div>

