/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
}

.playerName{
    text-transform: uppercase;
}

mat-chip {
    max-width: 200px;
  }