<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Signup</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.js">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.css">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.css.map">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.js">
	</head>
	<body>
		<div class="form">
			
			<h1> Signup Here To Roll The Dice!</h1>

			<form action="" method="get" accept-charset="utf-8">
				<input type="text"  name=""  placeholder="name"><br>
				<input type="text"  name=""  placeholder="Email"><br>
				<input type="password"  name=""  placeholder="password"><br>
				<input type="text"  name=""  placeholder="age"><br>
				<input type="text"  name=""  placeholder="username"><br>
				
				<br>
				<select name="countries">
          <option class="selq" value="India">SriLanka</option>
					<option class="selq" value="Australia">Australia</option>
					<option class="selq" value="new zealand">new zealand</option>
					<option class="selq" value="England">England</option>
					<option class="selq" value="America">America</option>
					<option class="selq" value="China">China</option>
				</select>
				<input type="radio" name="gender" value="male" checked><span class="rad">Male</span>
				<input type="radio" name="gender" value="female"> <span class="rad">Female</span>
				<button>Sign Up</button>
				<h3>Already have account ? <a class="aclk" href="#">Click here!</a></h3>
			</form>
		</div>
	</body>
</html>